.header {
    width: 100%;
    /* background-color: #152e3e; */
    background: linear-gradient(
        90deg,
        #1B2B3F 0%,
        #233F6D 100%
      );

      
      

    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .containerHamburguer {
    display: flex;
    align-items: center;
    padding-left: 1em;
    height: 80%;
}

.containerHamburguer .hamburguer {
    border-radius: 100%;
    background-color: #475666;
    width: 35x;
    height: 40px;
    padding: 0.5em;
    display: flex;
    text-align: center;
    align-items: center;
}

.header .hamburguer svg {
    color:  #F9FAFB;
    font-size: 1.5em;
}


.containerHamburguer img {
    padding-left: 1em;
    height: 100%;
}


.containerSearchHeader {
    background-color: transparent;
    width: 30%;
    display: flex;
    align-items: center;
}

.containerSearchHeader form {
    display: flex;
    align-items: center;
    height: 40px;
    width: 60%;
    background-color: #1B2B3F;
    border-radius: 5px;
    padding-left: 0.5em;
}

.containerSearchHeader input {
    height: 100%;
    background-color: transparent;
    padding-left: 0.5em;
    font-size: 17px;
    /* border-style: none; */
    outline: 0;
    color: #F9FAFB
}

.containerSearchHeader button {
    height: 100%;
    width: 10%;
    background-color: transparent;
    padding: 0.2em;
}


.containerSearchHeader svg {
    color: #757575;
    font-size: 1.5em;
}