.header {
    background: linear-gradient(
        90deg,
        #152E3E 0%,
        #113F5D 50%,
        #0C517E 100%
      );
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .containerHamburguer {
    display: flex;
    align-items: center;
    padding-left: 1em;
    height: 80%;
}


.containerHamburguer div {
    border-radius: 100%;
    background-color: #475666;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerHamburguer .menu {
    width: 18x;
    height: 18px;
}

.containerHamburguer .roitBank {
    height: 26px;
    width: 180px;
    padding-left: 1em;
}


.containerSearchHeader {
    background-color: transparent;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerSearchHeader form {
    display: flex;
    height: 35px;
    width: 60%;
    background-color: #1B2B3F;
    border-radius: 5px;
    padding-left: 0.5em;
}

.containerSearchHeader input {
    height: 100%;
    background-color: transparent;
    padding-left: 0.5em;
    font-size: 17px;
    outline: 0;
    color: #F9FAFB
}



form div {
    height: 100%;
    width: 10%;
    background-color: transparent;
    padding: 7px 0 0 5px;
}

.containerSearchHeader button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1B2B3F;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    padding: 0 5px 0 5px;
}


.containerSearchHeader .fotoPerfil {
    width: 36px;
    height: 36px;
}